.container-header{
    height: 4.5rem;
    width: 100%;
    background-color: #1b9dff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img{
        margin-left: 2rem;
        height: 3rem;
    }
    svg{
        cursor: pointer;
        margin-right: 2rem;
    }

}